/* styles.css */

body {
  font-family: Helvetica, sans-serif;
}

.header {
  font-size: 40px;
  text-decoration: underline;
}

.intro {
  text-indent: .5cm;
}

.button {
  background-color: beige;
  font-size: large;
  font-weight: 500;
}